Guessing Game Kata

1. GUI is a simple console but should be interchangeable.
2. Message that the game has started.
3. Range shall be changeable at the beginning of the game.
4. Generate random number between 0 and max range at the beginning of a round.
5. Ask for guess at the beginning of a turn
6. Show Loosing or winning message and start new round if the guess was right.
7. Show if the guess is greater or smaller as the random number.
8. The game exit when the player type quit or Quit